
<!-- Display Users-->
@{
    <partial name="_Notification" />

    ViewData["Title"] = "Display";
}
<form role="search">
    <input class="form-control bg-transparent SearchText" type="search" placeholder="Search" name="SearchText" id="search">
    <button class="btn btn-white bg-transparent text-white form-control" type="button" onclick="paginationFunction()">Search</button>
</form>
<button onclick="paginationFunction('ShowAll')" type="button" class="btn text-bg-dark bg-transparent form-control">Show all</button>
<div class="wrapper">
    <div id="PlaceHolder"></div>
    <div class="table-resposive">
        <table class="__table text-primary table-striped-columns fold-table" id="__table">
            <thead>
                <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">
                        <button class="sortAncer bg-transparent" onclick="nameSort('name')" >Name</button>
                    </th>
                    <th class="text-center" scope="col">
                        <button class="sortAncer bg-transparent" onclick="nameSort('email')">Email</button>
                    </th>
                    <th class="text-center" scope="col">
                        <a class="sortAncer" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Designation
                        </a>
                        <ul class="dropdown-menu">
                            <li> <button class="sortAncer bg-transparent nav-link" onclick="nameSort('Project_Manager')">Project Manager</button></li>
                            <li> <button class="sortAncer bg-transparent nav-link" onclick="nameSort('Sr_Developer')">Sr_Developer</button></li>
                            <li> <button class="sortAncer bg-transparent nav-link" onclick="nameSort('Jr_Developer')">Jr_Developer</button></li>
                        </ul>
                    </th>
                    <th class="text-center" scope="col"><button class="sortAncer bg-transparent" onclick="nameSort('Gender')">Gender</button></th>
                    <th class="text-center" scope="col"><label class="sortAncer">Action</label></th>
                </tr>
            </thead>
            <tbody id="employeedisplay" class="displaydata animate__animated animate__fadeInDown animate__fast float-right">
            </tbody>
        </table>
        <div class="data-container"></div>
        <div class="bg-primary" id="demo"></div>
    </div>
</div>