<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeData</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    
    @* <link rel="stylesheet" href="~/EmployeeData.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="https://pagination.js.org/dist/2.6.0/pagination.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Skills.js" asp-append-version="true"></script>
    <script src="~/js/Comman.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EmployeeData</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-Light" asp-area="" asp-controller="Employee" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <div class="d-flex px-5">
                        <a asp-controller="Employee" asp-action="UpSert" rel="modal:open" class="btn btn-outline-black text-black bg-light" id="addEmployeeBtn">
                            <i class="bi bi-plus-circle-fill"></i> Add Employees
                        </a>
                        <button asp-route-modalId="1" type="button" class="btn btn-outline-black text-black bg-light" data-toggle="ajax-modal" data-target="#employeeAddAndEdit" data-url="@Url.Action("_UpSert")">
                            <i class="bi bi-plus-circle-fill"></i> Add Employees modal
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_Notification" />
        <div id="PlaceHolder"></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <center>
            &copy; 2024 - Made By Ayush Petigara - EmployeeData - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </center>
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Comman.js"></script>
    <script src="~/js/skillAdd.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/DataTables/jquery.dataTables.js"></script>
    @* <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script> *@
    @* <script src="~/js/dataTable.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
